

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# logs
*.log
# 
.terraform.lock.hcl
# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf
.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/darwin_arm64/terraform-provider-aws_v5.46.0_x5

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/